.mynav {
        background-color: #065306;
        position: relative;
        box-sizing: border-box;
}

footer {
    background: #065306;

}

.fa-cutlery {
    color: white;
    text-shadow: 0 0 3px #000;
}

#icon {
    font-size: 3em;
}

.fa-cutlery:hover {
    color: green
}

footer h6{
    color: green;
}

footer i {
    color: green;
}

#footer-content {
    color: #1d6d1d;
    background-color: white;
}

#slogan {
    color: green;
    font-style: italic;
    font-family:serif;
    font-size: 1.5em;
}

#footer-top {
    color: yellow
}

.navbar {
    background-color: transparent !important;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar .nav-item a:hover {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    font-style: italic;
    font-family:fantasy;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .nav-item a{
    color: white !important;
}