/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');


/* Style the jumobtron contained */
.jumbotron {
    align-items:center;
    display:flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.5)),
    url('/resources/foodimg2.jpg');
    background-size:cover;
    background-position: top; /* position at the top */
    background-repeat:repeat-x;
    min-height: 50em; /* height in relative units */ 
    color:white;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

/* The title within the container */
.jumbotron h1 {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    color: green !important;
    font-family: Poppins;
    z-index: 0;
    position: relative;
    font-size: 2em;
    color: aliceblue;
    top: -330px;
    right: -400px;
    margin-top: 0;
    margin-bottom: 0.5px;

}


/* The table with results */
.jumbotron .table-striped {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border-style: double;
    border-color: green;
    z-index: 0;
    position: relative;
    top: -190px;
    left: -200px;
    background-color: white;
    opacity: 0.8;
}

/* The map image */
img {
    background-color: white;
    padding:10px;
    z-index: 0;
    position: relative;
    top: -500px;
    right: -540px;
    height: auto;
    width: 550px;
    max-width: 100%;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    overflow: visible;
    margin-bottom: 500px !important;
}



/* To make sure the navbar is always on top of other contents */
*{
    z-index: 9999;
}

/* Footer position at the bottom */
.myfooter {
    margin-top: auto;
    position:absolute;
    bottom: 0 !important;
    width: 100%;
    height: 140px;
}  

/* Font Icon used */ 
.fa-cutlery {
color: white;
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
font-size: 1.5em !important;
}

#icon {
font-size: 3em;
}

/* Footer contents below */
footer h6{
  color: green;
  font-family: serif;
  font-weight: normal !important;
  }

footer i {
color: green;
}

#footer-content {
overflow: scroll;
color: #1d6d1d;
background-color: white;
}

/*Slogan in the footer */
#slogan {
color: green;
font-style: italic;
font-family:serif;
font-size: 1.5em;
}

  /* Set the size of the div element that contains the map */
  #result_map {
    position: absolute;
    height: 600px;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
    top: 550px;
    left: 350px;
  }





/* These @media tags are to change the css to fit in mobile view for items inside of the jumbotron container */
@media screen and (max-width: 400px) { .jumbotron .table-striped { width: 100%; position: absolute; top: 100px; left: -1px;} }
@media screen and (max-width: 400px) { .jumbotron h1 { padding: 0; font-size: large; position:absolute; top: 70px; left: 0px; width: 100%; text-align: center; } }
@media screen and (max-width: 400px) { img {width: 90%; position: absolute; top: 270px; left: 20px; background: none;} }
    
